#index-page {
    background: var(--dark-brown);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    color: var(--bg-color);
}
#index-page .container{
    max-width: unset;
}
#index-page .snake-dots {
    bottom: 3.2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 100;
}
#index-page .snake-dots li,
#index-page .snake-dots li button,
#index-page .snake-dots li button:before {
    width: 3.444rem;
    height: 0.278rem;
}

#index-page .snake-dots li button:before {
    display: block;
    content: '';
    background: rgba(255,255,255, .53);
}
#index-page .snake-dots li.snake-active button:before {
    background: rgba(255,255,255, 1);

}

#index-page .snake-arrow.snake-prev {
    display: none;
}

#index-page .snake-arrow.snake-next:before {
    background: url("../../assets/icons/arrow-white.svg") no-repeat center;
    border: none;
    width: 5rem;
    height: 1.667rem;
}

#index-page .snake-arrow.snake-next:after {
    content: attr(data-text-after);
    display: inline;
    color: var(--second-color);
    font-size: 1.333rem;
    letter-spacing: 0;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1;
    position: absolute;
    right: 5.556rem;
    top: 50%;
    transform: translateY(-50%);
    width: max-content;
    text-align: right;
}

#index-page .snake-arrow.snake-next {
    right: 3.35vw;
    width: 5rem;
    height: 1.667rem;
}

#index-page header {
    position: absolute;
    background: transparent;
}

#index-page .index-page-slider {
    width: 100vw;
    height: 100vh;
    top: 0;
}

#index-page .index-page-slider .slider__item {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}


#index-page .index-page-slider .slider__item .index-page-slider-info {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}

#index-page .index-page-slider .slider__item .index-page-slider-info__wrapper {
    height: 100vh;
    justify-content: center;
}


#index-page .index-page-slider .slider__item .index-page-slider-info .index-page-slider-info__description {
    font-size: 0.833rem;
    max-width: 20.833rem;
    margin-bottom: 7.222rem;
}

#index-page .index-page-slider .slider__item .index-page-slider-info .index-page-slider-info__buttons {
    max-width: 20.833rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.389rem 1rem;
}

#index-page .index-page-slider .slider__item .index-page-slider-info .index-page-slider-info__button {
    background: transparent;
    border-radius: 82px;
    padding: 0.667rem 4.167rem 0.667rem 0.889rem;
    border: solid 0.167rem var(--second-color);
    color: var(--second-color);
    text-decoration: none;
    text-align: left;
    font-size: 0.833rem;
    position: relative;
}

#index-page .index-page-slider .slider__item .index-page-slider-info .index-page-slider-info__button:hover {
    cursor: pointer;
    transform: translate(-0.111rem, -0.111rem);
}

#index-page .index-page-slider .slider__item .index-page-slider-info .index-page-slider-info__button:after {
    content: '';
    background: url("../../assets/icons/arrow-white.svg") no-repeat center;
    background-size: contain;
    width: 2.056rem;
    height: 1.111rem;
    position: absolute;
    right: 0.944rem;
    top: 50%;
    transform: translateY(-50%);
}

#index-page .index-page-slider .slider__item .index-page-slider-info .index-page-slider-info__title {
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    margin-bottom: 2.333rem;
}

#index-page .index-page-slider .slider__item .index-page-slider-info .index-page-slider-info__title-number {
    font-size: 4.111rem;
    margin-bottom: 1.722rem;
}

#index-page .index-page-slider .slider__item .index-page-slider-info .index-page-slider-info__title-text {
    font-size: 2.222rem;
}

#index-page .index-page-slider .slider__item .index-page-slider__picture {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 60vw;
    gap: 0.83vw;
    margin-left: auto;
}

#index-page .index-page-slider .slider__item .index-page-slider__picture .index-page-slider-image {
    background: var(--background);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    overflow: hidden;
    top: 50%;
    opacity: 0;
    transform: translateY(-50%) translateX(5.556rem);
    transition: transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.6s ease-in;
}

#index-page .index-page-slider .slider__item .index-page-slider__picture .index-page-slider-image::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: var(--dark-brown);
    opacity: 0.54;
    position: absolute;
    left: 0;
    top: 0;
}

#index-page .index-page-slider .slider__item .index-page-slider__picture .index-page-slider__delimiter {
    width: 2.57vw;
    height: 53.125vh;
    background: var(--delimiter-color);
    position: relative;
    top: 50%;
    opacity: 0;
    transform: translateY(-50%) translateX(5.556rem);
    transition: transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.6s ease-in;
}

#index-page .index-page-slider .slider__item .index-page-slider__picture .index-page-slider-image.index-page-slider__small-image {
    width: 1.6vw;
    height: 41.46vh;
    background-position: 35% center;
}

#index-page .index-page-slider .slider__item .index-page-slider__picture .index-page-slider-image.index-page-slider__medium-image {
    width: 4.17vw;
    height: 63.75vh;
    background-position: 35% center;
}

#index-page .index-page-slider .slider__item .index-page-slider__picture .index-page-slider-image.index-page-slider__main-image {
    height: 100%;
    width: 100%;
    background-size: 110% auto;
}

#index-page footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2.4vh 0;
}

#index-page .index-page-slider .slider__item.snake-active .index-page-slider__picture .index-page-slider-image,
#index-page .index-page-slider .slider__item.snake-active .index-page-slider__picture .index-page-slider__delimiter {
    opacity: 1;
    transform: translateY(-50%);
}

#index-page .index-page-slider .slider__item.snake-active .index-page-slider__picture .index-page-slider__small-image {
    transition-delay: 0.1s;
}
#index-page .index-page-slider .slider__item.snake-active .index-page-slider__picture .index-page-slider__medium-image {
    transition-delay: 0.2s;
}
#index-page .index-page-slider .slider__item.snake-active .index-page-slider__picture .index-page-slider__main-image {
    transition-delay: 0.3s;
}
#index-page .index-page-slider .slider__item.snake-active .index-page-slider__picture .index-page-slider__delimiter {
    transition-delay: 0.4s;
}

#index-page .index-page-slider .slider__item .index-page-slider-info .index-page-slider-info__title,
#index-page .index-page-slider .slider__item .index-page-slider-info .index-page-slider-info__description,
#index-page .index-page-slider .slider__item .index-page-slider-info .index-page-slider-info__buttons {
    opacity: 0;
    transform: translateX(5.556rem);
    transition: transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.6s ease;
}

#index-page .index-page-slider .slider__item.snake-active .index-page-slider-info .index-page-slider-info__title,
#index-page .index-page-slider .slider__item.snake-active .index-page-slider-info .index-page-slider-info__description,
#index-page .index-page-slider .slider__item.snake-active .index-page-slider-info .index-page-slider-info__buttons {
    opacity: 1;
    transform: translateX(0);
}

#index-page .index-page-slider .slider__item.snake-active .index-page-slider-info .index-page-slider-info__title {
    transition-delay: 0.4s;
}
#index-page .index-page-slider .slider__item.snake-active .index-page-slider-info .index-page-slider-info__description {
    transition-delay: 0.5s;
}
#index-page .index-page-slider .slider__item.snake-active .index-page-slider-info .index-page-slider-info__buttons {
    transition-delay: 0.6s;
}

#index-page .menu-icon::before,
#index-page .menu-icon,
#index-page .menu-icon::after {
    background: var(--second-color);
}


#index-page footer{
    border: none;
}