#object-page .content-block > div:not(.slider) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 7.222rem;
    gap: 1.111rem;
}

#object-page h3 {
    font-size: 1.667rem;
}

#object-page .main-block {
    align-items: start;
}

#object-page .main-block img {
    grid-column: 1 / 5;
    width: 100%;
}

#object-page .main-block .description {
    grid-column: 7 / 11;
}

#object-page .main-block h2 {
    font-size: 1.667rem;
    margin-bottom: 5.556rem;
}

#object-page .main-block .info {
    font-size: 1.667rem;
}

#object-page .slider {
    margin-bottom: 12.778rem;
    width: 100%;
    height: 65.5vh;
    max-height: 590px;
}

#object-page .slider .slider-item {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#object-page .slider .slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#object-page .slider .snake-dots {
    display: flex;
    gap: 1.722rem;
    justify-content: center;
    align-items: center;
    bottom: -3.222rem;
}

#object-page .slider .snake-dots li {
    width: 1.389rem;
    height: 1.389rem;
    color: transparent;
    border: 0.056rem solid var(--main-color);
    border-radius: 50%;
}

#object-page .slider .snake-dots li button:before {
    color: transparent;
}

#object-page .slider .snake-dots li.snake-active {
    background: var(--main-color);
}

#object-page .second-block .text {
    grid-column: 1 / 6;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}
#object-page .second-block .text p:not(:last-child){
    margin-bottom: 1.667rem;
}

#object-page .second-block img {
    grid-column: 7 / 13;
    width: 100%;
    height: 22.222rem;
}

#object-page .achievements-block .achievements .achievements__items{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.111rem;
}
#object-page .achievements-block .achievements .achievements__item{
    display: flex;
    flex-direction: column;
}
#object-page .achievements-block .achievements h3 {
    margin-bottom: 6.444rem;
}

#object-page .achievements-block .achievements .achievements__item-digit,
#object-page .achievements-block .achievements h3{
    font-weight: bold;
    font-size: 1.667rem;
}
#object-page .achievements-block .achievements {
    grid-column: 1 / 6;
}

#object-page .achievements-block .text {
    grid-column: 7 / 13;
    font-size: 1rem;
}

#object-page .achievements-block .text h6{
    margin-bottom: 0.667rem;
}
#object-page .achievements-block .text ul {
    list-style: none; /* Убираем стандартные маркеры */
    padding-left: 0;
}

#object-page .achievements-block .text li {
    position: relative;
}

#object-page .achievements-block .text li::before {
    content: "•"; /* Или другой символ */
    display: inline-block;
    margin-right: 0.222rem;
    color: var(--dark-brown);
    font-size: 1.2em;
}

#object-page .third-block h3{
    margin-bottom: 4.778rem;
}
#object-page .third-block {
    align-items: start;
}

#object-page .third-block img {
    grid-column: 1 / 5;
    width: 100%;
}

#object-page .third-block .text {
    grid-column: 7 / 13;
}

#object-page .achievements-block,
#object-page .main-block,
#object-page .second-block,
#object-page .third-block {
    align-items: start;
}

#object-page .achievements-block .achievements .achievements__items .achievements__item:nth-child(1) {
    grid-column: span 2;
}
#object-page .achievements-block .achievements .achievements__items .achievements__item:nth-child(2) {
    grid-column: span 1;
}
#object-page .achievements-block .achievements .achievements__items .achievements__item:nth-child(3) {
    grid-column: span 1;
}
