@import "normalize.css";
@import "snake.css";
@import "snake-theme.css";
@import "variables.css";
@import "fonts.css";
@import "theme.css";
@import "components/menu.css";
@import "pages/index.css";
@import "pages/contacts.css";


