/* Slider */
.snake-slider {
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.snake-list {
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}

.snake-list:focus {
    outline: none;
}

.snake-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.snake-slider .snake-track,
.snake-slider .snake-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.snake-track {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    will-change: transform;
}

.snake-track:before,
.snake-track:after {
    display: table;

    content: '';
}

.snake-track:after {
    clear: both;
}

.snake-loading .snake-track {
    visibility: hidden;
}

.snake-slide {
    display: none;
    float: left;
    box-sizing: border-box;
    height: 100%;
    min-height: 1px;
}

.snake-slide img {
    display: block;
}

.snake-slide.snake-loading img {
    display: none;
}

.snake-slide.dragging img {
    pointer-events: none;
}

.snake-initialized .snake-slide {
    display: block;
}

.snake-loading .snake-slide {
    visibility: hidden;
}

.snake-arrow.snake-hidden {
    display: none;
}