* {
    box-sizing: border-box;
}
#loader {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000000;
    display: block;
    background: var(--dark-brown);
}

#loader:before,
#loader:after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    content: '';
    width: 64px;
    height: 64px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Белый логотип */
#loader:before {
    background-image: url("../assets/icons/logo-white.svg");
    opacity: 0;
    animation: fadeLogo 3s ease-in-out infinite;
}

/* Коричневый логотип */
#loader:after {
    background-image: url("../assets/icons/logo-brown.svg");
    opacity: 1;
    animation: fadeLogo 3s ease-in-out infinite reverse;
}

@keyframes fadeLogo {
    0%, 40% {
        opacity: 1;
    }
    50%, 90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    background: var(--bg-color);
    font-size: 18px;
    color: var(--main-color);
    position: relative;
}

.container {
    width: 94.4%; /* 1360 / (1440 / 100) */
    display: flex;
    flex-direction: column;
    margin-inline: auto;
}

header {
    width: 100vw;
    position: sticky;
    top: 0;
    background: transparent;
    padding-top: 3.65vh;
}

header .header-wrapper {
    display: flex;
    justify-content: flex-start;
    z-index: 100;
}

header .header-wrapper .logo {
    width: 65px;
    height: 55px;
}

header .header-wrapper .menu-btn {
    background: transparent;
    border: none;
    margin-left: auto;
}

.header-contacts {
    display: flex;
    gap: 2.64vw;
    margin-left: 13.75vw;
    height: 48px;
}

.header-contacts__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-contacts .header-contacts-item__title {
    font-size: 12px;
}

.header-contacts .header-contacts-item__phone {
    font-size: 20px;
}