*{
    box-sizing: border-box;
}

body {
    background: var(--bg-color);
    font-size: 18px;
    color: var(--main-color);
    position: relative;
}

.container {
    width: 94.4%; /* 1360 / (1440 / 100) */
    display: flex;
    flex-direction: column;
    margin-inline: auto;
}

header {
    width: 100vw;
    position: sticky;
    top: 0;
    background: transparent;
    padding-top: 3.65vh;
}

header .header-wrapper {
    display: flex;
    justify-content: flex-start;
    z-index: 100;
}

header .header-wrapper .logo {
    width: 65px;
    height: 55px;
}

header .header-wrapper .menu-btn {
    background: transparent;
    border: none;
    margin-left: auto;
}

.header-contacts {
    display: flex;
    gap: 2.64vw;
    margin-left: 13.75vw;
    height: 48px;
}

.header-contacts__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-contacts .header-contacts-item__title{
    font-size: 12px;
}
.header-contacts .header-contacts-item__phone{
    font-size: 20px;
}