body {
    background: var(--bg-color);
    font-size: 18px;
    color: var(--main-color);
}

.container {
    height: 100%;
    width: 94.4%; /* 1360 / (1440 / 100) */
    display: flex;
    flex-direction: column;
}